<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="haveErrors">
  <strong>{{errorMessage}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onDismissError()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="form-group">
  <div class="row">&nbsp;</div>
  <div class="group">
      <label>Country:</label>
      <input class="form-control"
        type="text" name="searchAddresses"
        id="searchAddresses"
        (change)="onInputChange($event)"
        (blur)="onSearchClick($event)"
        (keydown.enter)="onSearchClick($event)"
        [(ngModel)]="countryToSearch">
      <br />
      <button class="btn btn-primary" (click)="onSearchClick($event)">Search</button>
  </div>

  <br />

  <ul class="list-group" *ngIf="addresses">
    <li class="list-group-item" *ngFor="let address of addresses">
      {{address.description}}
      <br />
      {{address.line1}}
      <br />
      {{address.line2}}
    </li>
  </ul>

  <div class="jumbotron" *ngIf="!addresses && searchInvoked">
    <h1 class="display-4">No addresess found.</h1>
  </div>
</div>
